# Introduction

The National Longitudinal Survey of Youth 1997-2011 dataset is one of the most important databases available to social scientists working with US data. 

It allows scientists to look at the determinants of earnings as well as educational attainment and has incredible relevance for government policy. It can also shed light on politically sensitive issues like how different educational attainment and salaries are for people of different ethnicity, sex, and other factors. When we have a better understanding how these variables affect education and earnings we can also formulate more suitable government policies. 

<center><img src=https://i.imgur.com/cxBpQ3I.png height=400></center>

### Upgrade Plotly

In [1]:
%pip install --upgrade plotly

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly in /usr/local/lib/python3.8/dist-packages (5.5.0)
Collecting plotly
  Downloading plotly-5.11.0-py2.py3-none-any.whl (15.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.3/15.3 MB 64.8 MB/s eta 0:00:00
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly) (8.1.0)
Installing collected packages: plotly
  Attempting uninstall: plotly
    Found existing installation: plotly 5.5.0
    Uninstalling plotly-5.5.0:
      Successfully uninstalled plotly-5.5.0
Successfully installed plotly-5.11.0

###  Import Statements

In [2]:
import pandas as pd
import numpy as np

import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

## Notebook Presentation

In [3]:
pd.options.display.float_format = '{:,.2f}'.format

# Load the Data

In [4]:
df_data = pd.read_csv('NLSY97_subset.csv')

### Understand the Dataset

Have a look at the file entitled `NLSY97_Variable_Names_and_Descriptions.csv`. 

---------------------------

    :Key Variables:  
      1. S           Years of schooling (highest grade completed as of 2011)
      2. EXP         Total out-of-school work experience (years) as of the 2011 interview.
      3. EARNINGS    Current hourly earnings in $ reported at the 2011 interview

# Preliminary Data Exploration 🔎

**Challenge**

* What is the shape of `df_data`? 
* How many rows and columns does it have?
* What are the column names?
* Are there any NaN values or duplicates?

In [5]:
print(f"Shape: {df_data.shape}")
print(f"Column names: {df_data.columns}")

Shape: (2000, 96)
Column names: Index(['ID', 'EARNINGS', 'S', 'EXP', 'FEMALE', 'MALE', 'BYEAR', 'AGE',
       'AGEMBTH', 'HHINC97', 'POVRAT97', 'HHBMBF', 'HHBMOF', 'HHOMBF',
       'HHBMONLY', 'HHBFONLY', 'HHOTHER', 'MSA97NO', 'MSA97NCC', 'MSA97CC',
       'MSA97NK', 'ETHBLACK', 'ETHHISP', 'ETHWHITE', 'EDUCPROF', 'EDUCPHD',
       'EDUCMAST', 'EDUCBA', 'EDUCAA', 'EDUCHSD', 'EDUCGED', 'EDUCDO',
       'PRMONM', 'PRMONF', 'PRMSTYUN', 'PRMSTYPE', 'PRMSTYAN', 'PRMSTYAE',
       'PRFSTYUN', 'PRFSTYPE', 'PRFSTYAN', 'PRFSTYAE', 'SINGLE', 'MARRIED',
       'COHABIT', 'OTHSING', 'FAITHN', 'FAITHP', 'FAITHC', 'FAITHJ', 'FAITHO',
       'FAITHM', 'ASVABAR', 'ASVABWK', 'ASVABPC', 'ASVABMK', 'ASVABNO',
       'ASVABCS', 'ASVABC', 'ASVABC4', 'VERBAL', 'ASVABMV', 'HEIGHT',
       'WEIGHT04', 'WEIGHT11', 'SF', 'SM', 'SFR', 'SMR', 'SIBLINGS', 'REG97NE',
       'REG97NC', 'REG97S', 'REG97W', 'RS97RURL', 'RS97URBN', 'RS97UNKN',
       'JOBS', 'HOURS', 'TENURE', 'CATGOV', 'CATPRI', 'CATNPO', 'CATMIS',
       'CATSE', 'COLLBARG', 'URBAN', 'REGNE', 'REGNC', 'REGW', 'REGS',
       'MSA11NO', 'MSA11NCC', 'MSA11CC', 'MSA11NK', 'MSA11NIC'],
      dtype='object')

In [6]:
print(f"Is nan present? {df_data.isna().values.any()}")
print(f"Is duplicated values? {df_data.duplicated().values.any()}")

Is nan present? True
Is duplicated values? True

## Data Cleaning - Check for Missing Values and Duplicates

Find and remove any duplicate rows.

In [7]:
df_data.dropna(inplace=True)
df_data.drop_duplicates(inplace=True)

In [8]:
df_data.shape

(492, 96)

## Descriptive Statistics

In [9]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 492 entries, 0 to 1989
Data columns (total 96 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        492 non-null    int64
 1   EARNINGS  492 non-null    float64
 2   S         492 non-null    int64
 3   EXP       492 non-null    float64
 4   FEMALE    492 non-null    int64
 5   MALE      492 non-null    int64
 6   BYEAR     492 non-null    int64
 7   AGE       492 non-null    int64
 8   AGEMBTH   492 non-null    float64
 9   HHINC97   492 non-null    float64
 10  POVRAT97  492 non-null    float64
 11  HHBMBF    492 non-null    int64
 12  HHBMOF    492 non-null    int64
 13  HHOMBF    492 non-null    int64
 14  HHBMONLY  492 non-null    int64
 15  HHBFONLY  492 non-null    int64
 16  HHOTHER   492 non-null    int64
 17  MSA97NO   492 non-null    int64
 18  MSA97NCC  492 non-null    int64
 19  MSA97CC   492 non-null    int64
 20  MSA97NK   492 non-null    int64
 21  ETHBLACK  492 non-null    int64
 22  ETHHISP   492 non-null    int64
 23  ETHWHITE  492 non-null    int64
 24  EDUCPROF  492 non-null    int64
 25  EDUCPHD   492 non-null    int64
 26  EDUCMAST  492 non-null    int64
 27  EDUCBA    492 non-null    int64
 28  EDUCAA    492 non-null    int64
 29  EDUCHSD   492 non-null    int64
 30  EDUCGED   492 non-null    int64
 31  EDUCDO    492 non-null    int64
 32  PRMONM    492 non-null    float64
 33  PRMONF    492 non-null    float64
 34  PRMSTYUN  492 non-null    float64
 35  PRMSTYPE  492 non-null    float64
 36  PRMSTYAN  492 non-null    float64
 37  PRMSTYAE  492 non-null    float64
 38  PRFSTYUN  492 non-null    float64
 39  PRFSTYPE  492 non-null    float64
 40  PRFSTYAN  492 non-null    float64
 41  PRFSTYAE  492 non-null    float64
 42  SINGLE    492 non-null    int64
 43  MARRIED   492 non-null    int64
 44  COHABIT   492 non-null    int64
 45  OTHSING   492 non-null    int64
 46  FAITHN    492 non-null    int64
 47  FAITHP    492 non-null    int64
 48  FAITHC    492 non-null    int64
 49  FAITHJ    492 non-null    int64
 50  FAITHO    492 non-null    int64
 51  FAITHM    492 non-null    int64
 52  ASVABAR   492 non-null    float64
 53  ASVABWK   492 non-null    float64
 54  ASVABPC   492 non-null    float64
 55  ASVABMK   492 non-null    float64
 56  ASVABNO   492 non-null    float64
 57  ASVABCS   492 non-null    float64
 58  ASVABC    492 non-null    float64
 59  ASVABC4   492 non-null    float64
 60  VERBAL    492 non-null    float64
 61  ASVABMV   492 non-null    int64
 62  HEIGHT    492 non-null    int64
 63  WEIGHT04  492 non-null    int64
 64  WEIGHT11  492 non-null    int64
 65  SF        492 non-null    int64
 66  SM        492 non-null    int64
 67  SFR       492 non-null    float64
 68  SMR       492 non-null    float64
 69  SIBLINGS  492 non-null    int64
 70  REG97NE   492 non-null    int64
 71  REG97NC   492 non-null    int64
 72  REG97S    492 non-null    int64
 73  REG97W    492 non-null    int64
 74  RS97RURL  492 non-null    int64
 75  RS97URBN  492 non-null    int64
 76  RS97UNKN  492 non-null    int64
 77  JOBS      492 non-null    float64
 78  HOURS     492 non-null    int64
 79  TENURE    492 non-null    float64
 80  CATGOV    492 non-null    int64
 81  CATPRI    492 non-null    int64
 82  CATNPO    492 non-null    int64
 83  CATMIS    492 non-null    int64
 84  CATSE     492 non-null    int64
 85  COLLBARG  492 non-null    int64
 86  URBAN     492 non-null    int64
 87  REGNE     492 non-null    int64
 88  REGNC     492 non-null    int64
 89  REGW      492 non-null    int64
 90  REGS      492 non-null    int64
 91  MSA11NO   492 non-null    int64
 92  MSA11NCC  492 non-null    int64
 93  MSA11CC   492 non-null    int64
 94  MSA11NK   492 non-null    int64
 95  MSA11NIC  492 non-null    int64
dtypes: float64(28), int64(68)
memory usage: 372.8 KB

In [16]:
df_data.describe()

,ID,EARNINGS,S,EXP,FEMALE,MALE,BYEAR,AGE,AGEMBTH,HHINC97,...,URBAN,REGNE,REGNC,REGW,REGS,MSA11NO,MSA11NCC,MSA11CC,MSA11NK,MSA11NIC
count,492.00,492.00,492.00,492.00,492.00,492.00,492.00,492.00,492.00,492.00,...,492.00,492.00,492.00,492.00,492.00,492.00,492.00,492.00,492.00,492.00
mean,"3,530.57",19.13,14.89,5.92,0.49,0.51,"1,982.98",28.02,26.74,"66,732.78",...,0.75,0.13,0.31,0.35,0.21,0.05,0.54,0.41,0.00,0.00
std,"1,948.08",11.54,2.69,2.51,0.50,0.50,0.82,0.82,4.71,"44,951.87",...,0.44,0.33,0.46,0.48,0.41,0.22,0.50,0.49,0.05,0.00
min,28.00,2.13,8.00,0.00,0.00,0.00,"1,982.00",27.00,17.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,"1,833.25",12.00,12.00,4.24,0.00,0.00,"1,982.00",27.00,24.00,"40,725.00",...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,"3,470.50",16.00,16.00,5.75,0.00,1.00,"1,983.00",28.00,26.00,"58,027.50",...,1.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00
75%,"5,186.75",24.04,17.00,7.75,1.00,1.00,"1,984.00",29.00,30.00,"77,432.50",...,1.00,0.00,1.00,1.00,0.00,0.00,1.00,1.00,0.00,0.00
max,"8,978.00",123.08,20.00,12.33,1.00,1.00,"1,984.00",29.00,41.00,"246,474.00",...,2.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,0.00

# Split Training & Test Dataset

We *can't* use all the entries in our dataset to train our model. Keep 20% of the data for later as a testing dataset (out-of-sample data).

In [14]:
y = df_data.EARNINGS
X = df_data.drop("EARNINGS", axis=1)

In [15]:
print(X.head(), y.head())

     ID   S  EXP  FEMALE  MALE  BYEAR  AGE  AGEMBTH    HHINC97  POVRAT97  ...  \
0  4275  12 9.71       0     1   1984   27    24.00  64,000.00    402.00  ...
4  1994  15 2.94       0     1   1984   27    23.00  44,188.00    278.00  ...
5  2788  12 8.02       0     1   1983   28    25.00  97,400.00    612.00  ...
6  3473  13 9.79       0     1   1983   28    23.00  70,751.00    445.00  ...
8  1239  14 6.85       0     1   1983   28    25.00 246,474.00  1,627.00  ...

   URBAN  REGNE  REGNC  REGW  REGS  MSA11NO  MSA11NCC  MSA11CC  MSA11NK  \
0      1      0      0     1     0        0         0        1        0
4      1      0      0     0     1        0         0        1        0
5      1      0      1     0     0        0         0        1        0
6      1      0      0     1     0        0         1        0        0
8      1      0      0     0     1        0         0        1        0

   MSA11NIC
0         0
4         0
5         0
6         0
8         0

[5 rows x 95 columns] 0   18.50
4   36.06
5   13.14
6   10.00
8   20.19
Name: EARNINGS, dtype: float64

In [17]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=.2, random_state=10
)

# Simple Linear Regression

Only use the years of schooling to predict earnings. Use sklearn to run the regression on the training dataset. How high is the r-squared for the regression on the training data?

In [18]:
regression = LinearRegression()

In [21]:
regression.fit(X_train, y_train)

LinearRegression()

In [22]:
regression.intercept_

17205.71632503607

### Evaluate the Coefficients of the Model

Here we do a sense check on our regression coefficients. The first thing to look for is if the coefficients have the expected sign (positive or negative). 

Interpret the regression. How many extra dollars can one expect to earn for an additional year of schooling?

In [25]:
regression.coef_

array([ 4.38191516e-04,  9.26486012e-01,  8.95843304e-01, -1.30178805e+01,
       -7.66973999e+00, -9.94076589e+00, -1.14333807e+01, -9.50698253e-02,
        5.62731027e-05, -5.17780649e-03,  8.16174950e+00,  6.14336655e+00,
        1.61850972e+01, -4.06631581e+00,  1.84704703e+00,  2.62854933e+00,
        5.90438935e+00,  8.61139032e+00,  7.90092724e+00, -1.15901471e+00,
       -3.59121198e+00,  9.48844714e-01, -3.35013197e+00,  1.46086089e+01,
       -1.00069494e+01,  5.03220239e+00, -1.39601609e-01, -1.76243876e+00,
       -1.72661109e+00, -2.50731867e+00, -1.65406151e+00,  1.53464497e-01,
       -1.60324213e-01,  3.80267849e-02, -6.17333698e-01, -2.46434621e-02,
        1.22019605e+00, -2.76797238e+00, -2.07609990e+00, -2.93878385e+00,
       -3.00509891e+00, -1.22224405e+00,  4.57470936e-01, -1.73362880e+00,
       -2.54806760e+00, -8.31787927e-01, -2.66477892e+00, -5.39861610e+00,
        4.48245001e-01,  3.42616069e+00,  4.10308829e+00,  4.95183530e+04,
        3.26603688e+06,  3.26604117e+06,  3.85321966e+05,  1.92163846e+00,
       -5.42384522e-01,  6.11027064e+05, -1.37697899e+06, -5.71676706e+06,
        6.14004384e-05, -1.90350841e-01, -7.15902099e-03, -2.61952400e-03,
       -6.86001842e-01, -6.34301216e+00,  9.31502653e-01,  6.45618614e+00,
       -1.86644357e-01, -4.49138057e-01, -7.60715873e+00, -7.08372256e+00,
       -4.25542011e+00, -4.46139349e-01, -4.18246203e-02,  0.00000000e+00,
       -2.67604539e-01,  4.51961125e-02,  5.00705158e-01, -1.14760737e+00,
        2.45010945e+00,  2.84375728e-01, -1.70330340e+00,  8.03164620e+00,
        5.94463565e+00,  6.67175749e-01, -3.01045060e+00,  1.33337394e+00,
        4.62585298e+00,  3.73597443e+00,  3.67987313e+00, -2.45571767e-01,
       -1.07847732e+00, -7.99316000e+00,  0.00000000e+00])

In [32]:
coefficients_df = pd.DataFrame({"features": X.columns,"value": regression.coef_})

In [33]:
coefficients_df.head()

  features  value
0       ID   0.00
1        S   0.93
2      EXP   0.90
3   FEMALE -13.02
4     MALE  -7.67

In [37]:
print(coefficients_df[coefficients_df.features == "S"])
print(coefficients_df[coefficients_df.features == "EDUCDO"])
print(coefficients_df[coefficients_df.features == "EDUCHSD"])
print(coefficients_df[coefficients_df.features == "EDUCAA"])
print(coefficients_df[coefficients_df.features == "EDUCBA"])
print(coefficients_df[coefficients_df.features == "EDUCMAST"])
print(coefficients_df[coefficients_df.features == "EDUCPHD"])
print(coefficients_df[coefficients_df.features == "EDUCPROF"])

  features  value
1        S   0.93
   features  value
30   EDUCDO  -1.65
   features  value
28  EDUCHSD  -1.73
   features  value
27   EDUCAA  -1.76
   features  value
26   EDUCBA  -0.14
    features  value
25  EDUCMAST   5.03
   features  value
24  EDUCPHD -10.01
    features  value
23  EDUCPROF  14.61

### Analyse the Estimated Values & Regression Residuals

How good our regression is also depends on the residuals - the difference between the model's predictions ( 𝑦̂ 𝑖 ) and the true values ( 𝑦𝑖 ) inside y_train. Do you see any patterns in the distribution of the residuals?

In [38]:
regression.score(X_test, y_test)

-0.1281886768925795

In [39]:
predicted = regression.predict(X_test)
residuals = y_test - predicted
residuals

877     -6.75
1115     7.59
489      1.65
962     -3.48
469      1.52
        ...
1093    -0.52
176     -5.69
825     -5.12
118    -10.03
248      3.92
Name: EARNINGS, Length: 99, dtype: float64

# Multivariable Regression

Now use both years of schooling and the years work experience to predict earnings. How high is the r-squared for the regression on the training data?

### Evaluate the Coefficients of the Model

### Analyse the Estimated Values & Regression Residuals

# Use Your Model to Make a Prediction

How much can someone with a bachelors degree (12 + 4) years of schooling and 5 years work experience expect to earn in 2011?

# Experiment and Investigate Further

Which other features could you consider adding to further improve the regression to better predict earnings?